<!DOCTYPE html>
 <html ng-app="myApp">
 <head>
   <meta charset="ISO-8859-1">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="css/bootstrap.min.css"/>
   <script src="js/jquery-3.3.1.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/angular.min.js"></script>
   <script src="script/eventscript.js"></script>
   <title> Angular Form </title>
  </head>
<body ng-controller="eventController">
<div class="container">
<div class="row">  
  <div class="col-sm-4">
 
	<h2> Event Registration Form </h2> 
	<form name="eventForm" ng-submit="submitEventForm()" novalidate >
		<div class="form-group">
			<label>Username</label>
			<input type="text" name="username" class="form-control" ng-model="user.username" ng-required="true"/>
			<span ng-show="eventForm.username.$touched && eventForm.username.$invalid">Username is mandatory</span>
		</div>
		<div class="form-group">
			<label>Address</label>
			<textarea name="address" class="form-control" ng-model="user.address" ng-required="true" ng-minlength="10" ng-maxlength="100"></textarea>
			<span ng-show="eventForm.address.$touched && eventForm.address.$error.required">Address is mandatory</span>
			<span ng-show="eventForm.address.$error.minlength">Address should minimum 10 characters!</span>
			<span ng-show="eventForm.address.$error.maxlength">Address should minimum 100 characters!</span>
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="email" name="email" class="form-control" ng-model="user.email" ng-required="true"/>
			<span ng-show="eventForm.email.$touched && eventForm.email.$error.required">Email is mandatory</span>
			<span ng-show="eventForm.email.$error.email">Enter a valid email address</span>
		</div>
		<div class="form-group">
			<label>ContactNo</label>
			<input type="text" name="contactno" class="form-control" ng-model="user.contactno" ng-required="true" ng-pattern="/^[0-9]{10}$/"/>
			<span ng-show="eventForm.contactno.$touched && eventForm.contactno.$error.required">Contactno is mandatory</span>
			<span ng-show="eventForm.contactno.$error.pattern">Invalid contactno</span>						
		</div>
		<div class="form-group">
			<label>Event Date</label>
			<input type="date" name="eventdate" class="form-control" ng-model="user.eventdate" ng-required="true"/>
			<span ng-show="eventForm.eventdate.$invalid && eventForm.eventdate.$touched">Event date is mandatory</span>
		</div>
		<div class="form-group">
			 <button type="submit" class="btn btn-primary" ng-disabled="eventForm.$invalid">Submit</button>
			 <button type="reset" class="btn btn-primary">Reset</button>
		</div>		
	</form>
  </div>
  
</div>
</div>
</body>
</html>