<!DOCTYPE html>
<html data-ng-app="myModApp">
<head>
<meta charset="utf-8">
<title>Angular-JS Module Controllers Example</title>
<style  type="text/css" >
 th,td {
    padding:6px;
    margin:5px;
    text-align:center;
    font-weight:bold;
    font-size:16px;
  }
 th{
   text-decoration:underline;
 }
</style>
</head>
<body>
 <div  data-ng-controller="ManageController" align="center"> 
   <h3> Employee Details</h3>
  <table>
  <tr><th>Name</th><th>Job</th><th>Department</th></tr>
  <tr data-ng-repeat="emp in project.employees | orderBy:'deptId'">   
   <td>{{emp.name|uppercase}}</td>
   <td>{{emp.job|lowercase}}</td>
   <td>{{emp.deptId}}</td>
  </tr>
  </table>  
  <div data-ng-controller="WorkController">
   <h2>Task details</h2>
   <table>
   <tr data-ng-repeat="task in project.workTasks">
   <td>{{task.name}}</td>
   <td>{{task.duration}}</td>
  </tr>
  </table>
  <h3>{{project.moto}}</h3>
  </div>
  </div>
  
<script src="scripts/angular.js" type="text/javascript">
</script>

<script  type="text/javascript">
var app = angular.module('myModApp',[]);
app.controller('ManageController',function($scope){
	$scope.project = {}
	$scope.project.employees=[
       {name:'Suguna Rao',job:'Head Clerk',salary:26500.0,deptId:120},
       {name:'Madhavan',job:'Analyst',salary:32500.0,deptId:130},
       {name:'Kadirvan',job:'Developer',salary:31000.0,deptId:110},
       {name:'Karthick',job:'Asst Manager',salary:39500.0,deptId:140}       
     ];
     $scope.project.totSal=function(emp){
    	return emp.salary*12;
     }
   });
app.controller('WorkController',function($scope){
	$scope.project.workTasks = [{name:'codeWriting',duration:'106Hrs'},
	                        {name:'codeTesting',duration:'8Hrs'},
	                        {name:'perrReview',duration:'4Hrs'}];
	
     $scope.project.moto='Do In Time';
     
   });

</script>
</body>
</html>