<!DOCTYPE html>
<html data-ng-app="optionDisableApp">
<head>
<meta charset="utf-8">
<style type="text/css">
 td{
  margin : 5px;
  padding : 5px; 
 }

</style>
<title>Angular-JS Showing Iteration</title>
</head>
<body>
  <div align="center" data-ng-controller="OptDisableController">
     <h2>Scoped Data</h2>
  
  
    <table>
    <tr>
      <td>Choose Most Favored City:</td>
      <td><select data-ng-model="mostFavCity" data-ng-options="city for city in cities" >
      </select></td>
    </tr>
    <tr>  
    <td>Choose Next Favored City:</td>
    <td><select data-ng-model="nextFavCity" 
      data-ng-options="city disable when isMostFavCity(city)  for city in cities" >
      </select></td>
    </tr>
    </table>
    <br/> 
    <p>{{mostFavCity}}</p>
    <p>{{nextFavCity}}</p>
    
   </div>
<script src="scripts/angular.js" type="text/javascript"></script>

<script>
   var optionDisableApp = angular.module('optionDisableApp',[]);
   optionDisableApp.controller('OptDisableController', function($scope){
     $scope.cities = [ '--choose--', 'Ooty', 'KodaiKanal', 'Mysore', 'Munar',
                            'Darjeeling', 'Mussorrie', 'Simla', 'Nainital', 'Dehradun' ];
     $scope.mostFavCity = '';
     $scope.nextFavCity = '';
     $scope.isMostFavCity = function(city){
    	 return ($scope.mostFavCity == city); 
     }
       
   });
</script>

</body>
</html>